@{
    ViewBag.Title = "About";
}
<section class="probootstrap-cover">
    <div class="container">
        <div class="row probootstrap-vh-100 align-items-center text-center">
            <div class="col-sm">
                <div class="probootstrap-text">
                    <h2 class="probootstrap-heading text-white mb-4">@ViewBag.Title.</h2>
                    <h3 class="probootstrap-heading text-white mb-4">@ViewBag.Message</h3>
                    <div class="probootstrap-subheading mb-5">
                        <p class="h4 font-weight-normal">Use this area to provide additional information.</p>
                    </div>
                </div>
        </div>
    </div>
</section>